.big-button {
  background: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($color: $purple, $amount: 10%);
  color: white;
  font-weight: bold;
  font-size: $large-rem;
  margin-bottom: $large-rem;
  width: 100%;
  padding: 2.4rem;
}
.big-button:disabled {
  opacity: 0.5;
}
.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($color: $purple, $amount: 10%);
  color: white;
  font-weight: 500;
  padding: 1.2rem;
}
.button--remove {
  background: none;
  border: none;
  padding: 0;
  color: $off-white;
}
