.header {
  background: $off-black;
  color: white;
  margin-bottom: $small-rem;
  padding: $small-rem;
}
.header__title {
  font-size: $medium-rem;
  margin: 0;
}
.header__subtitle {
  color: $off-white;
  font-size: $small-rem;
  font-weight: 500;
  margin: 0;
}
@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $large-rem;
  }
}
